.mobile-top
  display: none
  flex: 1 1 100%
  justify-content: space-between
  padding: 1rem
  .icon
    cursor: pointer
    &.active
      background: $color-two
      svg
        fill: #ffffff
  svg
    fill: $color-two

.admin-aside
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-wrap: nowrap
  flex: 1 1 30%
  .logo
    padding: 0 2rem
    img
      border-bottom: 1px solid $color-one
      padding: 0 1rem 1.5rem
  .icon-list
    width: 100%
  .icon-list > li a,
  .icon-item
    padding: .8rem 2rem
    +animback
    &:hover
      background: $color-three
  .icon-item
    margin-bottom: 1rem
  .sublist
    > li
      a
        padding-left: 5rem

  &__left
    background: $grey-two
    min-height: 100vh
    padding: 2rem 0
    display: flex
    flex-flow: column wrap
    align-items: center
    justify-content: space-between
    color: $text-white
    flex: 0 0 auto
    min-width: 16rem
    position: sticky
    top: 0


  &__bar
    padding: 2rem
    height: 100%
    border-right: 1px solid $color-one
    flex: 1 1 70%
    position: sticky
    top: 0

.aside-top
  width: 100%

.aside-bot
  width: 100%

.version
  text-align: center
  opacity: .8

.burger-wrp
  padding: 0 1rem
  display: none


.aside-bar__list
  > li
    padding: .7rem 0
    border-bottom: 1px solid #dadada
    &.hidden
      display: none

.lang-item
  font: normal 700 .8em/1.2 $main-font
  cursor: pointer
